# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# IDE / Editor
.vscode/
.idea/

# Visual Studio / Rider
*.csproj
*.sln
*.slnx
*.user
*.unityproj

# OS files
.DS_Store
Thumbs.db